titulo1{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo2{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    text-align: justify;
}
 
titulo3{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo4{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo5{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo6{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo7{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto7{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo8{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto8{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo9{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto9{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 
titulo10{
    color:blue;
    text-align: center;
    background-color: yellow;
}
texto10{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
 